<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024923892439-tnflvt2b5tne9m5ng4m74gl2drhm7j41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024923892439-tnflvt2b5tne9m5ng4m74gl2drhm7j41</string>
	<key>API_KEY</key>
	<string>AIzaSyBMZzNy3U53osqDJXzxV7nHjLhBhrro97I</string>
	<key>GCM_SENDER_ID</key>
	<string>1024923892439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.walletfinances</string>
	<key>PROJECT_ID</key>
	<string>wallet-finances-2</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-finances-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024923892439:ios:fd1c1094f56ca194198e92</string>
</dict>
</plist>